{% extends './layout.html.twig' %}

{% block content %}

{% if role == 'MANAGER' %}
<h1>Basic User Info</h1>

<form id="usr_action" class="m-2" method="post" action="/user/update/{{user.user_id}}" onsubmit="handleUserSubmit(event,this)">
    <div class="form-group">
        <label> Full name </label>
        <input type="text" name="name" class="form-control" value="{{user.fullname}}" required />
    </div>
    <div class="form-group">
        <label> Email </label>
        <input type="email" name="email" class="form-control" value="{{user.email}}" required />
    </div>

    <div class="form-group">
        <label> Role </label>
        <select  class="form-control" name="role">
            <option value="MANAGER" {% if user.role == 'MANAGER' %} selected {% endif %}>MANAGER</option>
            <option value="EMPLOYEE" {% if user.role == 'EMPLOYEE' %} selected {% endif %}>EMPLOYEE</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Save User</button>
</form>
{% endif %}

<h1>Security Management</h1>

<form method="post" action="/user/password/{{user.user_id}}" onsubmit="handleUserSubmit(event,this)">
    <div class="form-group">
        <label> Password </label>
        <input type="password" class="form-control" name="password" required />
    </div>
    <div class="form-group">
        <label> Password </label>
        <input type="password" class="form-control" name="password2" required />
    </div>
    <button type="submit" class="btn btn-primary" id="passchangeBtn" disabled>Save Password</button>
</form>

{% endblock %}

{% block js %}
    {{ parent() }}
    <script>

        function handleUserSubmit(event,form){
            event.preventDefault();

            const action = $(form).attr('action');
            const method = $(form).attr('method');

            console.log(action);
            console.log($(form).serialize()+"&csrf="+getCSRFToken());
            $.ajax({
                'url': action,
                'method': method,
                'data':$(form).serialize()+"&csrf="+getCSRFToken(),
                success: function(){
                    window.location='/users';
                },
                error: function(xhr, status) {
                    const statusCode = xhr.status;
                    if(statusCode == 403){
                        window.location='/';
                    }
                }
            });
        }

        $(document).ready(function(){

            $('input[type=password]').on('change',function(e){
                const pass1 = $('input[type=password][name=password]').val();
                const pass2 = $('input[type=password][name=password2]').val();


                if(pass1!=pass2 && pass1 !== ''){
                    $("#passchangeBtn").attr('disabled',true);
                } else {
                    $("#passchangeBtn").attr('disabled',false);
                }
            });
        })


    </script>
{% endblock %}
