{% extends './layout.html.twig' %}

{% set title = 'Vaccation Management' %}

{% block content %}
    {% if  user_role == 'EMPLOYEE' %}
        <div class="mt-2 mb-2">
            <a href="/vaccation/add" class="btn btn-primary">Request Vaccation</a>
        </div>
    {% endif %}

    <table class="table">
        <thead>
            <tr>
                <th colspan="5">
                    {% if  user_role == 'EMPLOYEE' %}
                        My Vaccation Requests
                    {% else %}
                        Vaccation Lists
                    {% endif %}

                </th>
                <th>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle btn-sm" type="button" id="items_per_page" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Items Per page
                        </button>
                        <div class="dropdown-menu" aria-labelledby="items_per_page">
                          <a class="dropdown-item" href="/vaccations?limit=10">10</a>
                          <a class="dropdown-item" href="/vaccations?limit=100">50</a>
                          <a class="dropdown-item" href="/vaccations?limit=100">100</a>
                        </div>
                    </div>
                </th>
            </tr>
            <tr>
                <th>Employee Name</th>
                <th>From</th>
                <th>Until</th>
                <th>Requested At</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for vaccation in vaccations %}
                <tr>
                        <td>{{vaccation.user_name}}</td>
                        <td>{{vaccation.from | format_date(pattern="d/M/Y")}}</td>
                        <td>{{vaccation.until | format_date(pattern="d/M/Y")}}</td>
                        <td>{{vaccation.request_timestamp | format_date(pattern="d/M/Y H:mm")}}</td>
                        <td>{{vaccation.aproval_status}}</td>
                        <td>
                            {% if vaccation.aproval_status == 'PENDING' %}
                                {% if  user_role == 'MANAGER' %}
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        <button type="button" class="btn btn-success btn-sm" onclick="approve({{vaccation.vaccation_id}})">APPROVE</button>
                                        <button type="button" class="btn btn-danger btn-sm" onclick="reject({{vaccation.vaccation_id}})">REJECT</button>
                                    </div>
                                {% else %}
                                    <button type="button" class="btn btn-danger btn-sm" onclick="vaccation_delete({{vaccation.vaccation_id}})">DELETE</button>
                                {% endif %}
                            {% endif %}
                        </td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            
        </tfoot>
    </table>
      
{% endblock %}


{% block js %}
    {{ parent() }}

    <script>

        {% if  user_role == 'MANAGER' %}

            function changeApprocalStatus(vaccation_id, status){
                $.post('/vaccation/approval_status',{
                    'token':getCSRFToken(),
                    'vaccation_id':vaccation_id,
                    'approval_status':status
                },function(data){
                    window.location.reload();
                }).fail(function(xhr){
                    if(xhr.status = 403){
                        window.location='/';
                    }
                    alert("Internal Error");
                });
            }

            function approve(vaccation_id){
                if (window.confirm("Are you sure?")) {
                    changeApprocalStatus(vaccation_id,'APPROVED');
                }
            }

            function reject(vaccation_id){
                if (window.confirm("Are you sure?")) {
                    changeApprocalStatus(vaccation_id,'REJECTED');
                }
            }

        {% else %}
            function vaccation_delete(vaccation_id) {

                if (window.confirm("Are you sure?")) {
                    
                    $.post('/vaccation/delete',{
                        'token':getCSRFToken(),
                        'vaccation_id':vaccation_id
                    }).done(function(){
                        window.location.reload();
                    }).fail(function(xhr){
                        if(xhr.status = 403){
                            window.location='/';
                        }
                        alert("Internal Error");
                    });

                }
            }
        {% endif %}
    </script>
{% endblock %}
